.flexContainer
  display: flex
  flex-direction: column
  min-height: 100vh

.header
  background-color: red

.mainContainer
  display: flex
  flex-grow: 1

  .leftAside
    flex-grow: 1
    flex-shrink: 10

  .rightAside
    flex-grow: 1
    flex-shrink: 10

  .mainContent
    background-color: green
    flex-basis: 800px

.footer
  background-color: orange

