.wrapper
  display: grid
  grid-template-columns: auto 200px

  .date
    justify-self: right

  .contentPreview
    grid-column-start: 1
    grid-column-end: 3
    margin: 0 0

  .tagsContainer
    grid-column-start: 1
    grid-column-end: 3
    display: flex
    flex-direction: row

    *
      margin: 0 5px
