@use "src/styles/styleVars"
.wrapper
  flex-basis: styleVars.$one-post-width


.editorContainer

  & > *
    margin: 10px 0

  .title
    margin: 10px 0
    width: 100%

  .textFieldEditor
    margin: 10px 0
    width: 100%
    max-width: 100%
    resize: none

  .tagsSelector
    margin: 20px 0
    display: block

  .dateTime
    margin: 10px 0
    display: flex

    button
      margin: 0 10px

    & + *
      margin-left: 0


.postBasicContainer
  margin: 10px 0

  .heading
    margin: 10px 0

  .tagsContainer
    display: flex
    flex-direction: row
    flex-wrap: wrap

    & > *
      margin: 5px 5px

  .markdown

    img
      width: styleVars.$one-post-width - 30px
      margin: 15px
