@use "src/styles/styleVars"
.wrapper
  flex-basis: styleVars.$one-post-width


.editorContainer
  .title
    margin: 10px 0
    width: 100%

  .textFieldEditor
    margin: 10px 0
    width: 100%
    max-width: 100%
    resize: none

  .tagsSelector
    margin: 10px 0

.basicContainer
  margin: 10px 0

  .heading
    margin: 10px 0

  .tagsContainer
    display: flex
    flex-direction: row

    *
      margin: auto 5px
